* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: rale;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, .8);
    height: 70px;
    position: fixed;
    z-index: 10;
}

.ancho {
    width: 80%;
    height: 70px;
    /* background: red; */
    margin: auto;
}

.logo {
    width: 30%;
    height: 70px;
    /* background: blue; */
    float: left;
    padding-top: 10px;
}

.logo p a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    width: 70%;
    height: 70px;
    /* background: olive; */
    float: left;
    text-align: right;
    padding-top: 24px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: 0.6s;
}

nav ul li a:hover {
    color: #44C6DA;
    border-bottom: 2px solid #44DAAE;
    transition: 0.6s;
}

#fondo1 {
    width: 100%;
    height: 866px;
    background: linear-gradient(to bottom, 
    rgba(211, 135, 20, .6),
    rgba(29, 241, 171, .6), 
    rgba(7, 109, 150, .45),
    rgba(255, 0, 255, .55),
    rgba(128, 0, 128, .100)),
     url(../img/fondo1.jpg);
    /* background-repeat: no-repeat;  */
    /* background-attachment: contain; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.ancholetras {
    top: 350px;
    position: absolute;
    width: 100%;
    /* background: rgba(0, 0, 0, .8); */
    text-align: center;
    z-index: 1;
}

.texto {
    width: 80%;
    margin: auto;
}

.texto h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.texto h1:hover {
    color: tan;
}

.texto h2 {
    color: #fff;
    font-size: 80px;
    padding-top: 50px;
    text-transform: uppercase;
}

.texto h2:hover {
    color: tan;
}

/* Pie de Pagina en css */

footer {
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom,
    rgba(0, 221, 255, .9), 
    rgba(0, 200, 231, .9),
    rgba(0, 180, 207, .9),
    rgba(0, 160, 185, .9),
    rgba(0, 140, 162, .9), 
    rgba(0, 120, 138, .9), 
    rgba(0, 100, 115, .9), 
    rgba(0, 80, 92, .9), 
    rgba(0, 60, 69, .9), 
    rgba(0, 40, 46, .9), 
    rgba(0, 20, 23, .9), 
    rgba(0, 0, 0, .9));
}

.piePagina {
    width: 80%;
    height: 70px;
    /* background: #44DAAE; */
    margin: auto;
}

.copi {
    width: 30%;
    height: 70px;
    /* background: red; */
    float: left;
    padding-top: 25px;
}

.copi label {
    color: darkorange;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 50px;
}

.copi label a {
    color: deepskyblue;
    text-decoration: none;
    
}

.diseno {
    width: 70%;
    height: 70px;
     /* background: yellow;  */
    float: left;
    padding-top: 15px;

}

.diseno label {
    color: darkorange;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 250px;
}
.diseno p{
    padding-top: 10px;
}
.diseno p a{
    color: deepskyblue;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1p;
    padding-left: 20px;
    
    border-bottom: 2px solid transparent;
}

@font-face {
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf)
}